<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@latest"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <form id="form">
        <button type="submit">Logout</button>
    </form>
    <script>
        $(document).ready(async () => {
            const SUPABASE_URL = "https://adyyoquqtlopdnqampep.supabase.co";
            const SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFkeXlvcXVxdGxvcGRucWFtcGVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzc4ODIzNzMsImV4cCI6MjA1MzQ1ODM3M30.YeYjNactqap6nDbdPBADeVxsvlFSdcO-Js8NFH2G5Bs";
            
            const supabaseClient = supabase.createClient(SUPABASE_URL, SUPABASE_ANON_KEY);

            // Function to handle logout
            async function handleLogout() {
                // Delete session from Supabase
                const { error } = await supabaseClient.auth.signOut();
                if (error) {
                    console.error('Error signing out:', error);
                } else {
                    console.log('Signed out successfully');
                    const response = await fetch("/logout", {
                        method: "POST"
                    });
                    const data = await response.json();
                    if (!response.ok) {
                        alert(data.message);
                    } else {
                        $(location).prop("href", data.message);
                    }
                }
            }

            // Attach event listener to the form submission
            $('#form').submit((event) => {
                event.preventDefault();
                handleLogout();
            });
        });
    </script>
</body>

</html>
