<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@latest"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <p>"<%= data %>"</p>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    <script>
        $(document).ready(async () => {
            SUPABASE_URL = "https://adyyoquqtlopdnqampep.supabase.co"
            SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFkeXlvcXVxdGxvcGRucWFtcGVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzc4ODIzNzMsImV4cCI6MjA1MzQ1ODM3M30.YeYjNactqap6nDbdPBADeVxsvlFSdcO-Js8NFH2G5Bs"

            const supabaseClient = supabase.createClient(SUPABASE_URL, SUPABASE_ANON_KEY);

            const { data, error } = await supabaseClient.auth.getSession()
            console.log(data);
        })
    </script>
</body>

</html>